<%- include('../layouts_coordinator/admin') %>

<div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Events Registered</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Branch Conducting</th>
                  <th>Club/Cell</th>
                  <th>Faculty Coordinator</th>
                  <th>Student Coordinator</th>
                  <th>Time and Date</th>
                  <th>Event Details</th>
                  <th>Venue</th>
                  <th>Event Fee</th>
                  <th>Win Amount</th>

                </tr>
                <% event.forEach(function(event){  %>
                    <tr>

                      <td><%= event._id %></td>
                      <td><%= event.eventName %></td>
                      <td><%= event.branchConducting %></td>
                      <td><%= event.clubOrCell %></td>
                      <td><%= event.facultyCoordinator %></td>
                      <td><%= event.studentCoordinator %></td>
                      <td><%= event.timeAndDate %></td>
                      <td><%= event.Eventdetails %></td>
                      <td><%= event.venue %></td>
                      <td><%= event.EventFee %></td>
                      <td><%= event.winAmt %></td>
                      <td><a href="event/edit/<%= event._id %>" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></a></td>
                      <td>    <form action="/admin/event/<%= event._id %>?_method=DELETE" method="post">
                          <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>

    <% }) %>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>

<%- include('../layouts_coordinator/footer') %>
